<form method="POST" action="/new">
  <label>Text</label><br />
  <input name="messageText" /><br />
  <label>Username</label><br />
  <input name="messageUser" /><br />

  <input type="submit" value="Submit" />
</form>
