<ul>
  <% messages.forEach(message => { %>
    <li>
      <div class="message-info-wrapper">
        <h2><%= message.user %></h2>
        <p><%= message.text %></p>
        <p><%= message.added %></p>
      </div>
      <a href="/messages/<%= message.id %>">
        <button>Open</button>
      </a>
    </li>
  <% }); %>
</ul>
<a href="/new">New Post</a>
